<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Order</title>
</head>
<body>
<h1>Добавить заказ</h1>
<form action="#" th:action="@{/saveOrder}" th:object="${order}" method="post">
    <table>
        <tr>
            <td>ID заказа</td>
            <td><input type="number" th:field="*{id_order}"/></td>
        </tr>
        <tr>
            <td>ID компьютера</td>
            <td><input type="number" th:field="*{id_computer}"/></td>
        </tr>
        <tr>
            <td>ID специалиста</td>
            <td><input type="number" th:field="*{id_specialist}"/></td>
        </tr>
        <tr>
            <td>ID услуги</td>
            <td><input type="number" th:field="*{id_service_type}"/></td>
        </tr>
        <tr>
            <td>Дата начала</td>
            <td><input type="text" th:field="*{start_date}"/></td>
        </tr>
        <tr>
            <td>Дата окончания</td>
            <td><input type="text" th:field="*{end_date}"/></td>
        </tr>
        <tr>
            <td>Завершён</td>
            <td><input type="text" th:field="*{is_completed}"/></td>
        </tr>
        <tr>
            <td>Цена</td>
            <td><input type="number" th:field="*{price}"/></td>
        </tr>
        <tr>
            <td colspan="2">
                <button type="submit">Добавить заказ</button></td>
        </tr>
    </table>
</form>
</body>
</html>